*.pt
*.pyc
/output/*
/wandb/*
.idea/finetuned-gpt2-convai-main.iml
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
.gitignore
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
__pycache__/task.cpython-39.pyc
__pycache__/Dataset.cpython-39.pyc
__pycache__/Dataset.cpython-39.pyc
tlta_output/runs/Aug17_03-46-26_LAPTOP-FC5JID2R/events.out.tfevents.1692218789.LAPTOP-FC5JID2R.34404.0
tlta_output/runs/Aug17_03-46-26_LAPTOP-FC5JID2R/1692218789.4687934/events.out.tfevents.1692218789.LAPTOP-FC5JID2R.34404.1
__pycache__/Dataset.cpython-39.pyc
tlta_output/runs/Aug17_03-47-29_LAPTOP-FC5JID2R/events.out.tfevents.1692218911.LAPTOP-FC5JID2R.28840.0
tlta_output/runs/Aug17_03-47-29_LAPTOP-FC5JID2R/1692218911.1273215/events.out.tfevents.1692218911.LAPTOP-FC5JID2R.28840.1
__pycache__/Dataset.cpython-39.pyc
.gitignore
__pycache__/Dataset.cpython-39.pyc
tlta_output/runs/Aug17_03-50-59_LAPTOP-FC5JID2R/events.out.tfevents.1692219066.LAPTOP-FC5JID2R.1696.0
tlta_output/runs/Aug17_03-50-59_LAPTOP-FC5JID2R/1692219066.6243706/events.out.tfevents.1692219066.LAPTOP-FC5JID2R.1696.1
__pycache__/Dataset.cpython-39.pyc
__pycache__/Dataset.cpython-39.pyc
